{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}
<fieldset class="module aligned" id="component-properties-formset">
</fieldset>
<script type="text/javascript">
  const component_properties = {{ component_properties | safe }};
  const build_component_properties = {{ build_property_templates | safe }};
  const current_build_id = '{{current_build_id}}';

  function find_origin_property(new_property_item, origin_properties){
    if(!origin_properties){
      return null
    }
    return origin_properties.find(item =>{
      return new_property_item.name == item.name
    });
  }

  function render_component_properties(current_properties, selected_build_id){
    let component_properties_html = '';
    if(!(selected_build_id in build_component_properties)){
      return component_properties_html;
    }
    build_component_properties[selected_build_id].forEach(property_item => {
      let selected_values = property_item.value.split(',');
      let property_value_widget = `<input type="text" name="form-${property_item.id}-property-value" value="${property_item.value}" class="vTextField" required id="id_form-${property_item.id}-value">`;
      if(selected_values.length>1){
        let origin_property = find_origin_property(property_item, current_properties);
        property_value_widget = `<select name="form-${property_item.id}-property-value" required id="id_form-${property_item.id}-value">`
        selected_values.forEach(option_value => {
          let is_selected = '';
          if(origin_property && option_value == origin_property.value){
            is_selected = 'selected';
          }
          property_value_widget += `<option value="${option_value}" ${is_selected}>${option_value}</option>`
        });
        property_value_widget += '</select>';
      }
      component_properties_html += `
      <div class="form-row">
        <div class="flex-container">
          <input type="hidden" name="form-${property_item.id}-property-name" value="${property_item.name}"></input>
          <label class="required" for="id_form-${property_item.id}-value">${property_item.name}</label>
          ${property_value_widget}
        </div>
      </div>
      `
    });
    return component_properties_html;
  }

  (function ($) {
    let component_properties_formset = $('#component-properties-formset');
    component_properties_formset.html(render_component_properties(component_properties, current_build_id));
    $('#id_build').change(function (event) {
      const selected_build_id = $('#id_build').val();
      if(selected_build_id){
        component_properties_formset.html(render_component_properties(component_properties, selected_build_id));
      }
    });
  })(django.jQuery);
</script>
{% endblock %}
